@charset "UTF-8";
/*VARIABLES COLORES*/
/*VARIABLES FUENTE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 16px;
  /*NAV MENU*/
  /*FIN NAV MENU*/
  /*BANNERS DE PÁGINAS*/
  /*PÁGINA ABOUT US*/
  /*PÁGINA CONTACT*/
}
* html {
  background-color: white;
}
* .wpp-container {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(86, 194, 82);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  right: 30px;
  bottom: 30px;
  z-index: 3;
  transition: all 0.5s;
}
* .wpp-container:hover {
  box-shadow: 0 2px 6px #222831;
  opacity: 0.8;
}
* .wpp-container i.fa-brands.fa-whatsapp {
  font-size: 30px;
  padding: 10px 13px;
  text-decoration: none;
  color: #dddddd;
}
* nav.navbar.navbar-expand-md.navbar-dark {
  background: #dddddd;
}
* .navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}
* .navbar-dark .navbar-nav .nav-link {
  color: #222831;
}
* .navbar-dark .navbar-nav .nav-link:hover {
  color: #222831;
}
* a.nav-link {
  padding: 0 25px;
  transition: all 0.25s;
}
* a.nav-link:hover {
  border-bottom: 5px solid #f05378;
}
* ul.navbar-nav {
  align-items: center;
}
* li.nav-item, * .footer-container .footer-menu ul li {
  padding: 10px;
}
* .navbar-toggler {
  background-color: rgba(34, 40, 49, 0.2);
  border: none;
}
* .logo-container img {
  width: auto;
  height: 50px;
  margin-left: 25px;
}
* .main-container {
  height: 90vh;
  width: 100%;
  position: relative;
  background-image: url(media/hands.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
* .main-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
* .main-container .banner-text {
  width: 300px;
  height: auto;
  z-index: 2;
  line-height: 34px;
  text-align: center;
  margin-right: 100px;
  z-index: 3 !important;
}
* .main-container .banner-text h1 {
  color: #dddddd;
  font-size: 40px;
  font-weight: bold;
}
* .main-container .banner-text h2 {
  color: white;
}
* .main-container .banner-text p {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}
* .feat-projects {
  background-color: #dddddd;
  padding: 60px 0;
}
* .feat-projects h2 {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 15px;
}
* .services {
  padding: 60px 0;
}
* .services h2 {
  display: block;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
* .services .services-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
* .services .services-container .circle-cards {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
* .services .services-container .circle-cards .circle-img i {
  font-size: 95px;
  margin-bottom: 20px;
  color: #222831;
  transition: all 0.5s;
}
* .services .services-container .circle-cards .circle-img i:hover {
  opacity: 0.8;
}
* .services .services-container .circle-cards .circle-p {
  text-align: center;
  width: 160px;
}
* .footer-container {
  width: 100%;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* .footer-container .footer-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}
* .footer-container .footer-menu ul li {
  margin: 0 15px;
}
* .footer-container .footer-menu ul li a {
  color: #dddddd;
  text-decoration: none;
  transition: all 0.25s;
}
* .footer-container .footer-menu ul li a:hover {
  border-bottom: 5px solid #f05378;
}
* .footer-container p {
  color: #dddddd;
  margin-top: 30px;
  margin-bottom: 30px;
}
* .footer-container .social-media {
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}
* .footer-container .social-media i {
  text-decoration: none;
  color: #dddddd;
  font-size: 30px;
  padding: 0 25px;
  transition: all 0.5s;
}
* .footer-container .social-media i:hover {
  opacity: 0.7;
}
* .section-container {
  position: relative;
  height: 25vh;
  width: 100%;
  background-image: url(media/coffee.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
* .section-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
* .section-container .banner-text {
  z-index: 3;
}
* .section-container .banner-text h2 {
  color: white;
}
* #contact-banner {
  background-image: url(media/mail-box.jpg);
  background-position-y: bottom;
  z-index: 2;
}
* #contact-banner .banner-text {
  z-index: 3;
}
* #contact-banner .banner-text h2 {
  color: #dddddd;
}
* #projects-banner {
  background-image: url(media/projects-banner.jpg);
  background-position-y: bottom;
  z-index: 2;
}
* #projects-banner .banner-text {
  z-index: 3;
}
* #projects-banner .banner-text h2 {
  color: #dddddd;
}
* .lifestyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 25px;
}
* .lifestyle .history {
  flex: 50%;
}
* .lifestyle .history h2 {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  margin-left: -5%;
}
* .lifestyle .history p {
  width: 90%;
  margin-right: 25px;
  text-align: justify;
  line-height: 30px;
}
* .lifestyle .playlist {
  flex: 50%;
}
* .lifestyle .playlist p {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
}
* .people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(221, 221, 221, 0.7) 10%, rgba(221, 221, 221, 0.7) 80%, rgb(255, 255, 255) 100%);
  padding: 60px 0;
}
* .people .title-container {
  width: 300px;
}
* .people .title-container h3 {
  color: #222831;
  text-align: center;
}
* .people .person--1,
* .people .person--2,
* .people .person--3 {
  height: 400px;
  width: 300px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}
* .people .person--1:hover,
* .people .person--2:hover,
* .people .person--3:hover {
  animation: zoom 1s ease 0s 1 normal both;
}
* .people .person--1 .img--cont1,
* .people .person--2 .img--cont1,
* .people .person--3 .img--cont1 {
  height: 250px;
  width: 300px;
  background-image: url(media/img-cont1.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 12px 12px 0 0;
  filter: brightness(0.95);
}
* .people .person--1 .img--cont2,
* .people .person--2 .img--cont2,
* .people .person--3 .img--cont2 {
  height: 250px;
  width: 300px;
  background-image: url(media/img-cont2.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 12px 12px 0 0;
  filter: brightness(0.95);
}
* .people .person--1 .img--cont3,
* .people .person--2 .img--cont3,
* .people .person--3 .img--cont3 {
  height: 250px;
  width: 300px;
  background-image: url(media/img-cont3.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 12px 12px 0 0;
  filter: brightness(0.95);
}
* .people .person--1 h5,
* .people .person--2 h5,
* .people .person--3 h5 {
  text-align: center;
  width: 90%;
  margin: 25px auto;
  font-weight: bold;
}
* .people .person--1 p,
* .people .person--2 p,
* .people .person--3 p {
  text-align: center;
  width: 90%;
  margin: 0 auto 10px;
}
* .video {
  display: block;
  margin: 0 25px 25px 25px;
}
* .projects {
  display: grid;
  margin: 60px 25px 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 60px;
}
* .projects .pr-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
* .projects .pr-card:hover {
  box-shadow: 0 2px 6px #222831;
  animation: zoom 1s ease-in-out 0s 1 normal both;
}
* .projects .pr-im-container img {
  width: 100%;
  max-height: 300px;
  border-bottom: 5px solid #f05378;
  border-radius: 12px 12px 0 0;
  filter: brightness(0.7);
  transition: all 0.5s;
}
* .projects .pr-im-container img:hover {
  filter: brightness(1);
}
* .projects .pr-text-container {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.5em;
}
* .projects .pr-text-container h3 {
  font-size: 18px;
  font-weight: bold;
  height: 50px;
}
* .projects .pr-text-container p {
  margin-bottom: 0;
}
* .contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
* .contact-form .form-text h2 {
  font-size: 25px;
  margin: 60px auto 30px;
}
* .contact-form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 60px 60px 60px;
  padding: 30px 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
* .contact-form .form p {
  font-weight: bold;
  margin-bottom: 0;
}
* #how {
  width: 100%;
  margin: auto;
  font-weight: bold;
}
* .mail {
  display: block;
  margin: 40px auto 40px;
  border: 2px solid #dddddd;
  padding: 10px;
  border-radius: 15px;
}
* .type-services {
  display: inline-block;
  margin: 0 auto 40px;
  padding: 40px 0 0 0;
}
* body > section > div.form > form > label:nth-child(6) {
  margin-left: 60px;
}
* input[type=radio] {
  margin: 0 10px;
  width: 30px;
  height: 1em;
  vertical-align: middle;
}
* textarea {
  display: block;
  height: 150px;
  margin: 0 auto 40px;
  border: 2px solid #dddddd;
  border-radius: 15px;
  padding: 20px;
  line-height: 25px;
}
* input[type=submit] {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #222831;
  transition: all 0.25s;
}
* input[type=submit]:hover {
  background-color: #f05378;
}

@media only screen and (min-width: 1240px) {
  .carrousel-container {
    display: grid;
    width: 100%;
    margin: 60px 0;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
  .carrousel-container {
    grid-column-gap: 15px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .logo-container img {
    height: 30px;
  }

  header ul li {
    margin-left: 0;
    margin-right: 0;
  }

  input[type=search] {
    display: none;
  }

  .nav-menu a {
    font-size: 14px;
  }

  #bt-home {
    margin-right: 75px;
  }

  .container-projects h2 {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .carrousel-container {
    display: grid;
    width: 100%;
    height: auto;
    margin: 15px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 0;
  }

  a.arrow {
    display: none;
  }

  .card {
    width: 200px;
    margin: auto;
  }

  .card-img img {
    width: 100%;
    max-height: unset;
  }

  .services {
    padding: 60px 0 20px;
  }

  .services h2 {
    font-size: 25px;
  }

  .services-container {
    flex-wrap: wrap;
    align-items: center;
  }

  .circle-cards {
    width: 350px !important;
    margin-bottom: 40px;
  }

  .circle-img i {
    font-size: 75px;
    margin-bottom: 0;
  }

  .circle-p {
    margin-top: 20px;
  }

  .circle-p p {
    font-size: 14px;
  }

  .footer-menu a {
    font-size: 14px;
  }

  .footer-container p {
    font-size: 14px;
  }

  .history p {
    font-size: 14px;
  }

  .playlist iframe {
    height: 450px;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  label.type-services {
    font-size: 14px;
  }

  body > section > div.form > form > label:nth-child(6) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  .navbar-brand img {
    height: 30px;
  }

  .header-container {
    justify-content: center;
    min-height: 20vh;
  }

  header ul li {
    margin-left: 0;
    margin-right: 0;
  }

  input[type=search] {
    display: none;
  }

  .search-bar {
    margin-left: 10px;
    margin-right: 0;
  }

  .nav-menu a {
    font-size: 14px;
  }

  #bt-home {
    margin: auto;
    text-align: center;
  }

  .banner-text h2 {
    font-size: 25px;
  }

  .feat-projects h2 {
    font-size: 35px;
  }

  .container-projects h2 {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .carrousel-container {
    display: grid;
    width: 100%;
    height: auto;
    margin: 15px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 0;
  }

  a.arrow {
    display: none;
  }

  .card {
    width: 250px;
    margin: auto;
  }

  .card-img img {
    width: 100%;
    max-height: unset;
  }

  .card p {
    padding: 0 10px;
  }

  .services {
    padding: 60px 0 20px;
  }

  .services h2 {
    font-size: 25px;
  }

  .services-container {
    flex-wrap: wrap;
    align-items: center;
  }

  .circle-cards {
    width: 200px;
    margin-bottom: 40px;
  }

  .circle-img i {
    font-size: 75px;
    margin-bottom: 0;
  }

  .circle-p {
    margin-top: 20px;
  }

  .circle-p p {
    font-size: 14px;
  }

  .footer-menu a {
    font-size: 14px;
  }

  .footer-container p {
    font-size: 14px;
  }

  .footer-container .footer-menu li {
    margin: 0;
  }

  .history p {
    font-size: 14px;
    line-height: 20px;
  }

  .playlist iframe {
    height: 450px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .pr-text-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pr-text-container h3 {
    font-size: 16px;
  }
  .pr-text-container p {
    font-size: 14px;
  }

  label.type-services {
    font-size: 14px;
  }

  body > section > div.form > form > label:nth-child(6) {
    margin-left: 0;
  }

  .contact-form .form {
    padding: 10px 10px 30px;
    margin: 30px auto;
  }

  label#how,
input.mail,
textarea.text,
input[type=submit] {
    font-size: 14px;
  }

  .carousel-caption.d-sm-block h5 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1025px) {
  .people .title-container {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .people .person--1,
.people .person--2,
.people .person--3 {
    width: 200px;
    height: auto;
  }
  .people .person--1 .img--cont1,
.people .person--1 .img--cont2,
.people .person--1 .img--cont3,
.people .person--2 .img--cont1,
.people .person--2 .img--cont2,
.people .person--2 .img--cont3,
.people .person--3 .img--cont1,
.people .person--3 .img--cont2,
.people .person--3 .img--cont3 {
    width: unset !important;
    height: 180px;
  }
  .people .person--1 h5,
.people .person--2 h5,
.people .person--3 h5 {
    font-size: 18px;
  }
  .people .person--1 p,
.people .person--2 p,
.people .person--3 p {
    font-size: 14px;
  }

  input[type=radio] {
    margin: 0;
  }
}
@media only screen and (max-width: 425px) {
  .people {
    margin: 0;
    padding-top: 0;
  }
  .people .person--1,
.people .person--2,
.people .person--3 {
    width: 220px;
    margin-bottom: 30px;
  }

  .footer-container .footer-menu ul li {
    margin: 0;
  }

  .lifestyle .history {
    flex: 100%;
  }
  .lifestyle .history h2 {
    margin-left: 0;
  }
  .lifestyle .history p {
    width: 100%;
  }
  .lifestyle .playlist {
    flex: 100%;
    margin-top: 30px;
  }
}
/*Carrousel Bootstrap*/
img.d-block.w-100 {
  filter: brightness(0.3);
}

.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  margin: 0 5px;
  border-radius: 50%;
}

@media (min-width: 1025px) {
  .d-sm-block {
    bottom: 2rem;
  }
}
@media (max-width: 769px) {
  .carousel-indicators {
    display: none;
  }

  .carousel-caption p {
    display: none;
  }

  .carousel-caption h5 {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  a.navbar-brand {
    padding-left: 10px;
  }
}
@media (max-width: 575px) {
  .carousel-caption {
    bottom: -15px;
  }

  .d-sm-block {
    bottom: 0;
  }
}
@keyframes zoom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    transform: scale(1.05);
  }
}

/*# sourceMappingURL=style.css.map */
