/*VARIABLES COLORES*/
$color1: #222831;
$color2: #dddddd;
$color3: #f05378;

/*VARIABLES FUENTE*/
$font: 'Manrope',
Arial,
Helvetica,
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    font-size: 16px;

    html {
        background-color: white;
    }

    .wpp-container {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(86, 194, 82);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        right: 30px;
        bottom: 30px;
        z-index: 3;
        transition: all 0.5s;

        &:hover {
            box-shadow: 0 2px 6px $color1;
            opacity: 0.8;
        }
        
        i.fa-brands.fa-whatsapp {
            font-size: 30px;
            padding: 10px 13px;
            text-decoration: none;
            color: $color2;
        }
    }


    /*NAV MENU*/
    nav.navbar.navbar-expand-md.navbar-dark {
        background: $color2;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: $color1;

        &:hover {
            color: $color1;
        }
    }

    a.nav-link {
        padding: 0 25px;
        transition: all 0.25s;

        &:hover {
            border-bottom: 5px solid $color3;
        }
    }

    ul.navbar-nav {
        align-items: center;
    }

    li.nav-item {
        padding: 10px;
    }

    .navbar-toggler {
        background-color: rgba(34, 40, 49, 0.2);
        border: none;
    }

    /*FIN NAV MENU*/

    .logo-container img {
        width: auto;
        height: 50px;
        margin-left: 25px;
    }

    .main-container {
        height: 90vh;
        width: 100%;
        position: relative;
        background-image: url(media/hands.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }
        
        .banner-text {
            width: 300px;
            height: auto;
            z-index: 2;
            line-height: 34px;
            text-align: center;
            margin-right: 100px;
            z-index: 3!important;
                
            h1 {
                color: $color2;
                font-size: 40px;
                font-weight: bold;
            }

            h2{
                color: white;
            }
    
            p {
                color: white;
                font-size: 25px;
                margin-top: 20px;
            }
        }
    }


    .feat-projects {
        background-color: $color2;
        padding: 60px 0;

        h2 {
            width: 100%;
            display: block;
            text-align: center;
            padding-bottom: 15px;
        }
    }

    .services {
        padding: 60px 0;

        h2 {
            display: block;
            font-size: 35px;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .services-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: stretch;
            
            .circle-cards {
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                
                .circle-img i {
                    font-size: 95px;
                    margin-bottom: 20px;
                    color: $color1;
                    transition: all 0.5s;
            
                    &:hover {
                        opacity: 0.8;
                    }
                }
            
                .circle-p {
                    text-align: center;
                    width: 160px;
                }
            }
        }
    }

    .footer-container {
        width: 100%;
        background-color: $color1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-menu ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding-left: 0;

            li {
                @extend .nav-item;
                margin: 0 15px;

                a {
                    color: $color2;
                    text-decoration: none;
                    transition: all 0.25s;

                    &:hover {
                        border-bottom: 5px solid $color3;
                    }
                }
            }



        }

        p {
            color: $color2;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .social-media {
            flex-direction: row;
            margin-top: 30px;
            margin-bottom: 30px;
    
            i {
                text-decoration: none;
                color: $color2;
                font-size: 30px;
                padding: 0 25px;
                transition: all 0.5s;
    
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }


    /*BANNERS DE PÁGINAS*/
    .section-container {
        position: relative;
        height: 25vh;
        width: 100%;
        background-image: url(media/coffee.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: top;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }
        
        .banner-text{
            z-index: 3;

            h2{
                color: white;
            }
        }
    }

    #contact-banner {
        background-image: url(media/mail-box.jpg);
        background-position-y: bottom;
        z-index: 2;

        .banner-text{
            z-index: 3;

            h2{
            color: $color2;
            }
        }
    }

    #projects-banner {
        background-image: url(media/projects-banner.jpg);
        background-position-y: bottom;
        z-index: 2;

        .banner-text{
            z-index: 3;

            h2{
            color: $color2;
            }
        }
    }

    /*PÁGINA ABOUT US*/
    .lifestyle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 60px 25px;
        
        .history {
            flex: 50%;
    
            h2 {
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
                font-size: 25px;
                margin-left: -5%;
            }
    
            p {
                width: 90%;
                margin-right: 25px;
                text-align: justify;
                line-height: 30px;
            }
        }
    
        .playlist {
            flex: 50%;
    
            p {
                width: 100%;
                margin: auto;
                margin-bottom: 40px;
                text-align: center;
                font-size: 25px;
            }
        }
    }


    .people {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 60px 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 0.7) 10%, rgba(221, 221, 221, 0.7) 80%, rgba(255, 255, 255, 1) 100%);
        padding: 60px 0;

        .title-container {
            width: 300px;

            h3 {
                color: $color1;
                text-align: center;
            }
        }
        
        @mixin personcards {
            height: 400px;
            width: 300px;
            background-color: white;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            transition: 0.25s;

            &:hover {
                animation: zoom 1s ease 0s 1 normal both;
            }
        }

        .person--1,
        .person--2,
        .person--3 {
            @include personcards;

            //Mapa
            $mapa1: (1: url(media/img-cont1.jpg),
                    2: url(media/img-cont2.jpg),
                    3: url(media/img-cont3.jpg));

            @each $number,
            $pic in $mapa1 {
                .img--cont#{$number} {
                    height: 250px;
                    width: 300px;
                    background-image: $pic;
                    background-size: cover;
                    background-position-x: center;
                    border-radius: 12px 12px 0 0;
                    filter: brightness(0.95);
                }
            }

            h5 {
                text-align: center;
                width: 90%;
                margin: 25px auto;
                font-weight: bold;
            }

            p {
                text-align: center;
                width: 90%;
                margin: 0 auto 10px;
            }
        }
    }

    .video {
        display: block;
        margin: 0 25px 25px 25px;
    }

    .projects {
        display: grid;
        margin: 60px 25px 60px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 60px;
        
        .pr-card {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
    
            &:hover {
                box-shadow: 0 2px 6px $color1;
                animation: zoom 1s ease-in-out 0s 1 normal both;
            }
        }
        
        .pr-im-container img {
            width: 100%;
            max-height: 300px;
            border-bottom: 5px solid $color3;
            border-radius: 12px 12px 0 0;
            filter: brightness(0.7);
            transition: all 0.5s;
    
            &:hover {
                filter: brightness(1);
            }
        }
        
        .pr-text-container {
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
            line-height: 1.5em;
    
            h3 {
                font-size: 18px;
                font-weight: bold;
                height: 50px;
            }
    
            p {
                margin-bottom: 0;
            }
        }
    }

    /*PÁGINA CONTACT*/
    .contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        .form-text h2 {
            font-size: 25px;
            margin: 60px auto 30px
        }
        
        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 60px 60px 60px;
            padding: 30px 60px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 15px;
    
            p {
                font-weight: bold;
                margin-bottom: 0;
            }
            
        }
    }



    #how {
        width: 100%;
        margin: auto;
        font-weight: bold;
    }

    .mail {
        display: block;
        margin: 40px auto 40px;
        border: 2px solid $color2;
        padding: 10px;
        border-radius: 15px;
    }

    .type-services {
        display: inline-block;
        margin: 0 auto 40px;
        padding: 40px 0 0 0;
    }

    body>section>div.form>form>label:nth-child(6) {
        margin-left: 60px;
    }

    input[type="radio"] {
        margin: 0 10px;
        width: 30px;
        height: 1em;
        vertical-align: middle;
    }

    textarea {
        display: block;
        height: 150px;
        margin: 0 auto 40px;
        border: 2px solid $color2;
        border-radius: 15px;
        padding: 20px;
        line-height: 25px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        color: white;
        background-color: $color1;
        transition: all 0.25s;

        &:hover {
            background-color: $color3;
        }
    }
}



@media only screen and (min-width:1240px) {
    .carrousel-container {
        display: grid;
        width: 100%;
        margin: 60px 0;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width:1024px) and (max-width:1239px) {
    .carrousel-container {
        grid-column-gap: 15px;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px) {
    .logo-container img {
        height: 30px;
    }

    header ul li {
        margin-left: 0;
        margin-right: 0;
    }

    input[type="search"] {
        display: none;
    }

    .nav-menu a {
        font-size: 14px;
    }

    #bt-home {
        margin-right: 75px;
    }

    .container-projects h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .carrousel-container {
        display: grid;
        width: 100%;
        height: auto;
        margin: 15px 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 0;
    }

    a.arrow {
        display: none;
    }

    .card {
        width: 200px;
        margin: auto;
    }

    .card-img img {
        width: 100%;
        max-height: unset;
    }

    .services {
        padding: 60px 0 20px;
    }

    .services h2 {
        font-size: 25px;
    }

    .services-container {
        flex-wrap: wrap;
        align-items: center;
    }

    .circle-cards {
        width: 350px!important;
        margin-bottom: 40px;
    }

    .circle-img i {
        font-size: 75px;
        margin-bottom: 0;
    }

    .circle-p {
        margin-top: 20px;
    }

    .circle-p p {
        font-size: 14px;
    }

    .footer-menu a {
        font-size: 14px;
    }

    .footer-container p {
        font-size: 14px;
    }

    .history p {
        font-size: 14px;
    }

    .playlist iframe {
        height: 450px;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    label.type-services {
        font-size: 14px;
    }

    body>section>div.form>form>label:nth-child(6) {
        margin-left: 0;
    }
}

@media only screen and (max-width:599px) {
    .navbar-brand img {
        height: 30px;
    }

    .header-container {
        justify-content: center;
        min-height: 20vh;
    }

    header ul li {
        margin-left: 0;
        margin-right: 0;
    }

    input[type="search"] {
        display: none;
    }

    .search-bar {
        margin-left: 10px;
        margin-right: 0;
    }

    .nav-menu a {
        font-size: 14px;
    }

    #bt-home {
        margin: auto;
        text-align: center;
    }

    .banner-text h2 {
        font-size: 25px;
    }

    .feat-projects h2 {
        font-size: 35px;
    }

    .container-projects h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .carrousel-container {
        display: grid;
        width: 100%;
        height: auto;
        margin: 15px 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 0;
    }

    a.arrow {
        display: none;
    }

    .card {
        width: 250px;
        margin: auto;
    }

    .card-img img {
        width: 100%;
        max-height: unset;
    }

    .card p {
        padding: 0 10px;
    }

    .services {
        padding: 60px 0 20px;
    }

    .services h2 {
        font-size: 25px;
    }

    .services-container {
        flex-wrap: wrap;
        align-items: center;
    }

    .circle-cards {
        width: 200px;
        margin-bottom: 40px;
    }

    .circle-img i {
        font-size: 75px;
        margin-bottom: 0;
    }

    .circle-p {
        margin-top: 20px;
    }

    .circle-p p {
        font-size: 14px;
    }

    .footer-menu a {
        font-size: 14px;
    }

    .footer-container p {
        font-size: 14px;
    }

    .footer-container .footer-menu li {
        margin: 0;
    }

    .history p {
        font-size: 14px;
        line-height: 20px;
    }

    .playlist iframe {
        height: 450px;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .pr-text-container {
        margin-top: 15px;
        margin-bottom: 15px;
        
        h3 {
            font-size: 16px;
        }
        
        p {
            font-size: 14px;
        }
    }


    label.type-services {
        font-size: 14px;
    }

    body>section>div.form>form>label:nth-child(6) {
        margin-left: 0;
    }

    .contact-form .form {
        padding: 10px 10px 30px;
        margin: 30px auto;
    }

    label#how,
    input.mail,
    textarea.text,
    input[type="submit"] {
        font-size: 14px;
    }

    .carousel-caption.d-sm-block h5 {
        font-size: 18px;
    }
}

@media only screen and (max-width:1025px) {
    .people .title-container {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px) {
    .people {

        .person--1,
        .person--2,
        .person--3 {
            width: 200px;
            height: auto;

            .img--cont1,
            .img--cont2,
            .img--cont3 {
                width: unset !important;
                height: 180px;
            }

            h5 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    input[type=radio]{
        margin: 0;
    }
}

@media only screen and (max-width:425px) {
    .people {
        margin: 0;
        padding-top: 0;

        .person--1,
        .person--2,
        .person--3 {
            width: 220px;
            margin-bottom: 30px;
        }
    }

    .footer-container {
        .footer-menu {
            ul {
                li {
                    margin: 0;
                }
            }
        }
    }

    .lifestyle{
        .history {
            flex: 100%;

            h2{
                margin-left: 0;
            }

            p{
                width: 100%;
            }
        }

        .playlist {
            flex: 100%;
            margin-top: 30px;
        }
    }
}

/*Carrousel Bootstrap*/
img.d-block.w-100 {
    filter: brightness(0.3);
}

.carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
    margin: 0 5px;
    border-radius: 50%;
}

@media (min-width:1025px) {
    .d-sm-block {
        bottom: 2rem;
    }
}

@media (max-width:769px) {
    .carousel-indicators {
        display: none;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel-caption h5 {
        margin-bottom: 0;
    }
}


@media (min-width: 768px) {
    a.navbar-brand {
        padding-left: 10px;
    }
}

@media (max-width: 575px) {
    .carousel-caption {
        bottom: -15px;
    }

    .d-sm-block {
        bottom: 0;
    }
}

@keyframes zoom {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        transform: scale(1.05);
    }
}